# DB
DB_SERVER_NAME=
DB_NAME = 
DB_USERNAME=
DB_PASS=

# PHPMailer 
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM_NAME="OurLab"


#CloudFlare secret key
CD_SECRET_KEY = 